body{
    margin: 0;
    padding: 0;
    background: url(fondo1.jpg)no-repeat;   
    height: 100vh;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif;
}